{% extends "network/layout.html" %}

{% load static %}

{% block title %} Job application | Social Network {% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="main-div">
        <div class="left-div">
            <nav class="head heading">
                {% if page == 'all_posts' %}
                    <h3>All Posts</h3>
                {% elif page == 'following' %}
                    <h3>Following</h3>
                {% elif page == 'userjobs' %}
                    <h3>Job Application</h3>
                {% elif page == 'saved' %}
                    <h3>Saved</h3>
                {% elif page == 'profile' %}
                    <h3>Profile</h3>
                {% else %}
                    <h3>Explore</h3>
                {% endif %}
            </nav>
            <div class="left-div-content">
                <div class="posts-view">
                    {% block profile %}
                    {% endblock %}
                    <div class="main-div-content">





                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}