{% extends "network/layout.html" %}

{% load static %}
{% block title %} Jobs | Social Network {% endblock %}
{% block body %}
    <div class="main-div">
        <div class="left-div">
            <nav class="head heading">
                {% if page == 'all_posts' %}
                    <h3>All Posts</h3>
                {% elif page == 'following' %}
                    <h3>Following</h3>
                {% elif page == 'userjobs' %}
                    <h3>Jobs</h3>
                {% elif page == 'saved' %}
                    <h3>Saved</h3>
                {% elif page == 'profile' %}
                    <h3>Profile</h3>
                {% else %}
                    <h3>Explore</h3>
                {% endif %}
            </nav>
            <div class="left-div-content">
                <div class="posts-view">
                    {% block profile %}
                    {% endblock %}
                    <div class="main-div-content">

                                    <div>
                                        <input type="text" id="search" placeholder="Search..." onkeyup="searchJobs()">
                                        <ul id="job-list" class="mx-auto">
                                                  {% for job_obj in job_list %}
                                                        {% with job=job_obj.job profile_pic_url=job_obj.profile_pic_url %}
                                                            <li class="job-card">
                                                                {% if profile_pic_url %}
                                                                    <div class="small-profilepic" style="background-image: url({{ profile_pic_url }})"></div>
                                                                {% endif %}
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#Viewmodal-{{ job.jid }}">
                                                                    <h3>{{ job.title }}</h3>
                                                                </a>
                                                                <a href="{% url 'profile' job.company %}"><p class="company-location">@{{ job.company }} - {{ job.location }}</p></a>
                                                                <p>Salary : {{ job.salary }}</p>
                                                                <div class="job-buttons">
                                                                    <a href="{% url 'jobapplication' job.jid %}">
                                                                        <button class="btn btn-primary">Apply Now</button>
                                                                    </a>
                                                                </div>
                                                            </li>

                                            <!--- View modal --->
                                            <div class="modal" tabindex="-1" id="Viewmodal-{{ job.jid }}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"><b>Job Details</b></h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <h3>{{ job.title }}</h3>
                                                                <p class="company-location">{{ job.company }} - {{ job.location }}</p>
                                                                <h5>Description</h5>
                                                                <p>{{ job.description }}</p><br>
                                                                <h5>Requirements</h5>
                                                                <p>{{ job.requirements }}</p><br>
                                                                <h5>Responsibilities</h5>
                                                                <p>{{ job.responsibilities }}</p><br>
                                                                <h5>Qualifications</h5>
                                                                <p>{{ job.qualifications }}</p><br>
                                                                <h5>Responsibilities</h5>
                                                                <p>{{ job.responsibilities }}</p><br>
                                                                <h5>Website</h5>
                                                                <p>{{ job.website }}</p><br>
                                                                <h5>Salary</h5>
                                                                <p>{{ job.salary }}</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>

                                                {% endwith %}
                                            {% endfor %}
                                        </ul>
                                    </div>




                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}