{% load static %}
<html>
<html lang="en">
<head>
    <title>Comment</title>
    <link rel="stylesheet" href="{% static 'css/cstyle.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
    $("#comment-form").on("submit", function (event) {
        event.preventDefault();
        var formData = $(this).serialize();
        var post_id = "{{ post.id }}";
        $.ajax({
            url: "/comment_list?post_id=" + post_id,
            method: "POST",
            headers: {
                'X-CSRFToken': '[csrftoken]'
              },
            data: formData,
            success: function (data) {
                $("#comments").html(data.comment_html);
                $("#comment-text").val("");
                $("#comment-form button[type='submit']").prop("disabled", false); location.reload();
            }
        });
        $("#comment-form")[0].reset();
    });
});
    </script>
</head>
<body>
<div  id="comments">
<a href="/">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg>
</a>

<h1>Comments</h1>
<div class="comment-section">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    <!-- List of comments -->
    <div class="comments">
        {% for comment in comments %}
            <div class="comment">
                <div class="author">{{ comment.author.username }}</div>
                <div class="text">{{ comment.text }}</div>
                <div class="created-at">{{ comment.created_at|date:"F j, Y, g:i a" }}</div>
            </div>
        {% empty %}
            <div class="no-comments">No comments yet.</div>
        {% endfor %}
    </div>

    <!-- Comment form -->
    <div class="comment-form">
        <h2>Add a comment</h2>
        <form id="comment-form">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <textarea id="comment-text" name="text" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</div>
</body>
</html>
