{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'assets/images/img.png' %}"
      rel="shortcut icon"
      type="image/png"
    />
    <title>Company SignUp - LinkedNet</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}" />
  </head>
  <script>
    //name
    function Validstr1() {
      var val = document.getElementById("first_name").value;
      if (val!="" && !val.match(/^[A-Za-z]+$/)) {
        document.getElementById("msg").innerHTML = "Only alphabets are allowed";
        document.getElementById("first_name").value = val;
        document.getElementById("first_name").style.color = "red";
        return false;
        flag = 1;
      } else {
        document.getElementById("msg").innerHTML = " ";
        document.getElementById("first_name").style.color = "green";
        //return true;
      }
    }
    function Validstr2() {
      var val = document.getElementById("last_name").value;
      if (val!="" && !val.match(/^[A-Za-z]+$/)) {
        document.getElementById("msg1").innerHTML =
          "Only alphabets are allowed";
        document.getElementById("last_name").value = val;
        document.getElementById("last_name").style.color = "red";
        return false;
        flag = 1;
      } else {
        document.getElementById("msg1").innerHTML = " ";
        document.getElementById("last_name").style.color = "green";
        //return true;
      }
    }
    //username

    function Validstr() {
      var val = document.getElementById("username").value;
      if (val!="" && !val.match(/^[A-Za-z][A-Za-z0-9_]{2,29}$/)) {
        document.getElementById("msg10").innerHTML =
          "Only alphabets are allowed (min 3 cahracters)";
        document.getElementById("username").value = val;
        document.getElementById("username").style.color = "red";
        return false;
        flag = 1;
      } else {
        document.getElementById("msg10").innerHTML = " ";
        document.getElementById("username").style.color = "green";
        //return true;
      }
      /*var namestr = /^[A-Za-z]+$/;
      if (fn != "" && namestr.test(fn) == false) {
        document.getElementById("fmsg").style.display = "block";
        document.getElementById("fmsg").innerHTML =
          "Name must be alphabets only";
        return false;
      } else {
        document.getElementById("fmsg").style.display = "none";
      }*/
    }

    //email

    function Validateemail() {
      var email = document.getElementById("email").value;
      var mailformat = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;
      if (email.length < 3 || email.length > 40) {
        document.getElementById("email1").innerHTML = "Invalid Email";
        document.getElementById("email").value = email;
        document.getElementById("email").style.color = "red";
        return false;
      }
      if (email!="" && !email.match(/^[\w\+\'\.-]+@[\w\'\.-]+\.[a-zA-Z]{2,}$/)) {
        document.getElementById("email1").innerHTML =
          "Please enter a valid email";
        document.getElementById("email").value = email;
        document.getElementById("email").style.color = "red";
        return false;
      } else {
        document.getElementById("email1").innerHTML = " ";
        document.getElementById("email").style.color = "green";
        // return true;
      }
    }
    //phone

    function Validphone() {
      var val = document.getElementById("phone").value;
      if (val!="" && !val.match(/^[789][0-9]{9}$/)) {
        document.getElementById("msg2").innerHTML =
          "Only Numbers are allowed and must contain 10 number";
        document.getElementById("phone").value = val;
        return false;
      } else {
        document.getElementById("msg2").innerHTML = "";
        //   return true;
      }
    }
    //password

    function Password() {
      var pass = document.getElementById("password").value;
      //var patt= /^(?=.[0-9])(?=.[!@#$%^&])[A-Za-z0-9!@#$%^&]{7,15}$/;
      //var patt = /^[a-zA-Z0-9@#$%^&]{7,15}$/;
      var patt = /^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{7,15}$/;

      if (pass!="" && !pass.match(patt)) {
        console.log(pass);
        document.getElementById("pass").innerHTML =
          "Password must be 7 to 15 character with number and special character ";
        document.getElementById("password").value = pass;
        document.getElementById("password").style.color = "red";
        return false;
      } else {
        console.log(pass, "Green");
        document.getElementById("pass").innerHTML = " ";
        document.getElementById("password").style.color = "green";
        //return true;
      }
    }
    function cpassword() {
      var pass = document.getElementById("password").value;
      var cpass = document.getElementById("cpass").value;
      if (cpass != "" && pass != cpass) {
        document.getElementById("copass").style.display = "block";
        document.getElementById("copass").innerHTML = "Password doesnot match";
        document.getElementById("cpass").style.color = "red";
        return false;
      } else {
        console.log(cpass, "Green");
        document.getElementById("cpass").style.color = "green";
        document.getElementById("copass").style.display = "none";
      }
    }

    function Val() {
      if (
        Validstr1() === false ||
        Validstr2() === false ||
        Validstr() === false ||
        ValidateEmail() === false ||
        Password() === false ||
        cpassword === false
      ) {
        return false;
      }
    }
  </script>

  <body class="bg-gray-100">
    <div id="wrapper" class="flex flex-col justify-between h-screen">
      <!-- header-->
      <div class="bg-white py-4 shadow dark:bg-gray-800">
        <div class="max-w-6xl mx-auto">
          <div class="flex items-center lg:justify-between justify-around">
            <a href="signin">
              <b><h1 style="font-size: 1.5rem">LinkedNet</h1></b>
            </a>

            <div
              class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm"
            >
              <a
                href="/signin"
                class="bg-pink-500 pink-500 px-6 py-3 rounded-md shadow text-white"
                >Login</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Content-->

      <div>
        <div
          class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-"
        >
          <h1 class="lg:text-3xl text-xl font-semibold mb-6">Sign Up</h1>
          <!--<p class="mb-2 text-black text-lg"> Register to manage your account </p>-->

          <div>
            <style>
              h5 {
                color: red;
              }
            </style>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
          </div>

          <form action="" method="POST" onsubmit="return Val();">
            {% csrf_token %}
            <!--<div class="flex lg:flex-row flex-col lg:space-x-2">
                        <input type="text" placeholder="First Name"  class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                        <input type="text" placeholder="Last Name" class="bg-gray-200 mb-2 shadow-none  dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    </div>-->
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
              style="border: 1px solid #d3d5d8 !important"
              onkeyup="return Validstr();"
              required
            />
            <span id="msg10" style="color: red"></span>
            <input
              type="text"
              name="cname"
              id="cname"
              placeholder="Company name"
              onkeyup="return Validstr1();"
              class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
              style="border: 1px solid #d3d5d8 !important"
              required
            />
            <span id="msg" style="color: red"></span>
            <input
              type="text"
              name="location"
              id="location"
              placeholder="Location"
              onkeyup="return Validstr2();"
              class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
              style="border: 1px solid #d3d5d8 !important"
              required
            />
            <span id="msg1" style="color: red"></span>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              onkeyup="return Validateemail();"
              class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
              style="border: 1px solid #d3d5d8 !important"
              required
            />
            <span id="email1" style="color: red"></span>
            <input
              type="text"
              name="website"
              id="website"
              placeholder="Website"
              class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
              style="border: 1px solid #d3d5d8 !important"
              required
            />
<!--            <span id="email1" style="color: red"></span>-->
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              onkeyup="return Password();"
              class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
              style="border: 1px solid #d3d5d8 !important"
              required
            />
            <span id="pass" style="color: red"></span>
            <input
              type="password"
              name="password2"
              id="cpass"
              placeholder="Confirm Password"
              onkeyup="return cpassword();"
              class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
              style="border: 1px solid #d3d5d8 !important"
              required
            />
            <span id="copass" style="color: red"></span>
            <!-- <div class="flex justify-start my-4 space-x-1">
                        <div class="checkbox">
                            <input type="checkbox" id="chekcbox1" checked>
                            <label for="chekcbox1"><span class="checkbox-icon"></span> I Agree</label>
                        </div>
                        <a href="#"> Terms and Conditions</a>
                    </div> -->
            <button
              type="submit"
              class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full"
            >
              Sign Up
            </button>
            <div class="text-center mt-5 space-x-2">
              <p class="text-base">
                Do you have an account? <a href="/signin"> Login </a>
              </p>
            </div>
          </form>
        </div>
      </div>

      <!-- Footer -->

      <div class="lg:mb-5 py-3 uk-link-reset">
        <div
          class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3"
        >
          <div class="flex space-x-2 text-gray-700 uppercase">
            <a href="#"> About</a>
            <a href="#"> Help</a>
            <a href="#"> Terms</a>
            <a href="#"> Privacy</a>
          </div>
          <p class="capitalize">©Copyright 2020 by LinkedNet</p>
        </div>
      </div>
    </div>

    <!--<script>
        
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' dark';
            }
        })(window, document);
    
    
        (function (window, document, undefined) {
    
            'use strict';
    
            // Feature test
            if (!('localStorage' in window)) return;
    
            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;
    
            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('dark');
                if (document.documentElement.classList.contains('dark')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);
    
        })(window, document);
    </script>-->

    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
  </body>
</html>
