{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="{% static 'assets/images/img.png' %}"
      rel="shortcut icon"
      type="image/png"
    />
    <title>Job Listing | LinkedNet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>

        .job-buttons {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
        }

        .job-buttons button {
          margin-left: 10px;
        }

        .job-card {
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          padding: 2rem;
          margin-bottom: 2rem;
          width: 150% !important;
        }

        .job-card h3 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }

        .job-card a {
          text-decoration: none;
          color: black;
        }

        .job-card p.company-location {
          font-size: 1.5rem;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }

        .job-card:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transform: translateY(-2px);
        }
    </style>
</head>

<body>

            <header>
                <div class="header_inner">
                    <form action="/search" method="POST">
                    {% csrf_token %}
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo" class=" uk-hidden@s">
                            <a href="home.html">
                                <b><h1 style="text-transform: uppercase;">LinkedNet</h1></b>
                            </a>
                        </div>

                        <!--<div class="triger" uk-toggle="target: #wrapper ; cls: sidebar-active">
                            <i class="uil-bars"></i>
                        </div>-->

                        <!-- <div class="header_search"> -->
                            <input type="text" name="username" placeholder="Search for username..">&nbsp; &nbsp;
                            <button type="submit"><i class="fa fa-search fa-1x"></i></button>

                        <!-- </div> -->

                    </div>
                    </form>
                    <div class="right-side lg:pr-4">
                        <div>
                    <style>
                        h5{
                            color: black;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}&nbsp;</h5>
                    {% endfor %}
                </div>

                            Welcome <b name="" class="">&nbsp;{{user.username}}&nbsp; &nbsp; &nbsp;</b>

                         <!-- upload -->
                        <a href="cindex"
                            class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                            <ion-icon name="add-circle" class="-mb-1
                             mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Home
                        </a>
                         <!-- upload dropdown box -->
<!--                        <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">-->

<!--                            &lt;!&ndash; notivication header &ndash;&gt;-->
<!--                            <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">-->
<!--                                <h4>Upload Pics</h4>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; notification contents &ndash;&gt;-->
<!--                            <div class="flex justify-center flex-center text-center">-->

<!--                                <div class="flex flex-col choose-upload text-center">-->

<!--                                    <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">-->
<!--                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">-->
<!--                                            <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />-->
<!--                                            <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />-->
<!--                                        </svg>-->
<!--                                    </div>-->

<!--                                    <form action="upload" method="POST" enctype="multipart/form-data" >-->
<!--                                    {% csrf_token %}-->
<!--                                    <p class="my-3 leading-6"> Upload pics-->
<!--                                    </p>-->
<!--                                    <div>-->
<!--                                        <input type="file"  accept="image/png, image/gif, image/jpeg" name="image_upload">-->
<!--                                        &lt;!&ndash; <a href="#" class="button soft-warning small"> Choose file</a> &ndash;&gt;-->
<!--                                        <textarea class="button soft-warning small" name="caption" placeholder="caption..." ></textarea>-->
<!--                                        <br>-->
<!--                                        <button class="button bg-blue-700" type="submit" >Upload</button>-->
<!--                                    </div>-->
<!--                                    </form>-->

<!--                                    &lt;!&ndash; <a href="#" class="uk-text-muted mt-3 uk-link"-->
<!--                                        uk-toggle="target: .choose-upload ;  animation: uk-animation-slide-right-small, uk-animation-slide-left-medium; queued: true">-->
<!--                                        Or Import Video </a> &ndash;&gt;-->
<!--                                </div>-->

<!--                                <div class="uk-flex uk-flex-column choose-upload" hidden>-->
<!--                                    <div class="mx-auto flex flex-col h-24 items-center justify-center relative w-full rounded-lg">-->
<!--                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">-->
<!--                                            <path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd" />-->
<!--                                        </svg>-->
<!--                                    </div>-->
<!--                                    <p class="my-3 leading-6"> Import videos from YouTube <br> Copy / Paste your video link here </p>-->
<!--                                    <form class="uk-grid-small" uk-grid>-->
<!--                                        <div class="uk-width-expand">-->
<!--                                            <input type="text" class="uk-input uk-form-small  bg-gray-200 " style="box-shadow:none" placeholder="Paste link">-->
<!--                                        </div>-->
<!--                                        <div class="uk-width-auto"> <button type="submit" class="button soft-warning -ml-2">-->
<!--                                                Import </button> </div>-->
<!--                                    </form>-->
<!--                                    <a href="#" class="uk-text-muted mt-3 uk-link"-->
<!--                                        uk-toggle="target: .choose-upload ; animation: uk-animation-slide-left-small, uk-animation-slide-right-medium; queued: true">-->
<!--                                        Or Upload Video </a>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                            <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm">-->
<!--                                Size Must be Maxmium 999MB-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- profile -->

                        <a href="#">
                            <img src="{{ MEDIA_URL }}media/pic.png" class="header-avatar" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">Post Job</a></li>
                                <li><a href="logout"> Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container m-auto">
                <h2>Job listing</h2>
                <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

                                    <!--Job posting modal-->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Post Job</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <form method="POST" action="jobposting">
                                                  {% csrf_token %}
                                                  <h5 class="modal-title">Title</h5>
                                                  <input type="text" name="title" class="form-control mb-3" required autofocus>
                                                  <h5 class="modal-title">Location</h5>
                                                  <input type="text" name="location" class="form-control mb-3" required >
                                                  <h5 class="modal-title">Description</h5>
                                                  <input type="text" name="description" class="form-control mb-3" required >
                                                  <h5 class="modal-title">Requirements</h5>
                                                  <input type="text" name="requirements" class="form-control mb-3" required >
                                                  <h5 class="modal-title">Responsibilities</h5>
                                                  <input type="text" name="responsibilities" class="form-control mb-3" required >
                                          </div>
                                          <div class="modal-footer">
                                              <button type="submit" class="btn btn-primary">Post Job</button>
                                          </div>
                                            </form>
                                        </div>
                                      </div>
                                    </div>

                                    <ul class="mx-auto">
                                      {% for job in jobs %}
                                        <li class="job-card">
                                          <a href="#">
                                            <h3>{{ job.title }}</h3>
                                          </a>
                                          <p class="company-location">{{ job.company }} - {{ job.location }}</p>
                                          <div class="job-buttons">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#EditModal">
                                              <button class="btn btn-primary">Edit</button>
                                            </a>
                                            <form action="{% url 'job_delete' job.pk %}" method="POST">
                                              {% csrf_token %}
                                              <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                          </div>
                                        </li>

                                        <!--- Edit modal --->
                                     <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title" id="EditModalLabel">Edit Job</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <form method="POST" action="job_edit/{{ job.jid }}">
                                                  {% csrf_token %}
                                                  <h5 class="modal-title">Title</h5>
                                                  <input type="text" name="title" value="{{ job.title }}" class="form-control mb-3" required>
                                                  <h5 class="modal-title">Location</h5>
                                                  <input type="text" name="location" value="{{ job.location }}" class="form-control mb-3" required >
                                                  <h5 class="modal-title">Description</h5>
                                                  <input type="text" name="description" value="{{ job.description }}" class="form-control mb-3" required >
                                                  <h5 class="modal-title">Requirements</h5>
                                                  <input type="text" name="requirements" value="{{ job.requirements }}" class="form-control mb-3" required >
                                                  <h5 class="modal-title">Responsibilities</h5>
                                                  <input type="text" name="responsibilities" value="{{ job.responsibilities }}" class="form-control mb-3" required >
                                          </div>
                                          <div class="modal-footer">
                                              <button type="submit" class="btn btn-primary">Submit</button>
                                          </div>
                                            </form>
                                        </div>
                                      </div>
                                    </div>

                                      {% endfor %}
                                    </ul>

                </div>


            </div>




 <!-- Scripts================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>